html, body {
  font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #F3ECE2;
  height: 100%;
}

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}

[class*="col-"] {
  padding: 10px;
  float: left;
}


.tab {
  display: block;
  float: right;
  font-size: 25px;
  padding: 10px 10px 10px 5px;
  margin-right: 25px;
  margin-left: 25px;
  text-decoration: none;
  color: white;
  text-align: center;
}

.tab:hover {
  background-color: #19936B;
}

#main {
  float: left;
  font-size: 30px;
  padding: 7.5px 5px 7.5px 5px;
  margin-left: 10px;
  margin-right: 10px;
}

.navbar {
  min-height: 50px;
  max-height: 100px;
  background-color: #24d39a;
  font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
  margin-bottom: 10px;
}

.content {
  padding: 20px;
  min-height: 100%;
  margin: 0 auto -30px;
}

.left {
  height: 90%;
}

.right {
  height: 90%;
}

.right h2 {
  text-align: center;
}

.right p {
  padding-left: 10%;
}

.logo {
  float: left;
  margin-top: 10px;
  margin-right: 10px;
  margin: 10px 15px 10px 15px;
  height: 30px;
}

.box-cover {
  max-height: 100%;
  max-width: 100%;
}

hr {
  width: 90%;
  height: 1px;
  border: 0;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

@media only screen and (max-width: 950px) {
  .hide {
    display: none;
  }
}

.comments-form {
  float: right;
  margin-right: 10px;
  margin-top: 15px;
}

.comments-button {
  float: right;
  margin-top: 15px;
}

.push, .footer {
  height: 40px;
}

.footer {
  background-color: #24d39a;
  padding-top: 5px;
  color: white;
  padding-left: 15px;
}

.footer a {
  text-decoration: none;
  color: white;
  text-shadow: 2px 2px #19936B;
  padding-top: 5px;
  padding-bottom: 5px;
}

.footer a:hover {
  background-color: #19936B;
  text-shadow: 2px 2px #24d39a;
}